<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{./form-stylesheet.css}" />
		<title>Form</title>
	</head>
	<body>
		<div class="topnav">
			<a>Form</a>
			<a>Grades</a>
		</div>
		<div class="container">
			<h2>Grade Portal</h2>
			<!-- Here, we are linking the form to an empty POJO object that was created in the controller class. -->
			<!-- we are also specifying the handler method that will handle the POST request. -->
			<form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
				<input type="text" placeholder="Name" th:field="*{name}" />
				<input type="text" placeholder="Subject" th:field="*{subject}" />
				<input type="text" placeholder="Score" th:field="*{score}" />
				<br /><br />
				<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
