<!DOCTYPE >
<!-- Link Expression
	the path will part from the static folder
-->
<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			th:href="@{/grades-stylesheet.css}"
		/>
		<title>Grades</title>
	</head>
	<body>
		<div class="topnav">
			<a>Form</a>
			<a>Grades</a>
		</div>

		<div class="container">
			<h2>Grades</h2>
			<table id="table">
				<tr>
					<th>Student</th>
					<th>Subject</th>
					<th>Score</th>
				</tr>
				<!-- Variable expressions executes on a model attribute. It can be used to:
          * return a model attribute or a value that derives from it;
          * execute a condition based on a model attribute;
          * execute a loop based on a model attribute.
          
          th:text displays a text value
          exemple of variable expression: <td th:text="${grade.name}"></td>
        -->

				<!-- Selection expressions select a field from the previously bound object: th:text = *{field}  -->
				<tr th:each="grade: ${grades}">
					<td th:text="${grade.name}"></td>
					<td th:text="${grade.subject}"></td>
					<td th:text="${grade.score}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>
